{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!DOCTYPE html>
    <html>
    <body background="{% static '/images/18b08236e77d4ec0fbc8da35275ba1d9.jpg' %}" style="background-size: cover;" >
        <div class="container">

            <div class="row text-center">
                <div class="img_cen" style="margin-bottom: 30px;">
                    <img class="rec_img" src="{% static '/images/Garden-Quote.jpg' %}" alt="...">

                </div>

                {% for post in posts %}
                <div class="col-md-4">
                    <div class="card border-secondary mb-3">
                        <div class="card-header" style="..." border:>
                            <img src="{{ post.image.url }}" alt="Card image cap" 	 style="object-fit:contain;width:200px;height:300px; #CCC"/>
                            <h3 class="post-title"><a href="/post/{{ post.slug }}">{{ post.title }}</a></h3>
                        </div>

                        <p>{{ post.summary }}</p>

                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </body>
    </html>

{% endblock %}